body {
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: monospace;
}
.cardBlue{
    background: linear-gradient(177.9deg, rgb(58, 62, 88) 3.6%, rgb(119, 127, 148) 105.8%);
    height: 400px;
    width: 650px;
    margin: auto;
    margin-top: 15%;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px -7px 41px 57px rgba(163,63,163,1);
-moz-box-shadow: 0px -7px 41px 57px rgba(163,63,163,1);
box-shadow: 0px -7px 41px 57px rgba(163,63,163,1);
}

.hidden>div {
	display:none;
}

.visible>div {
	display:block;
}

.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
   margin-left: 4px;
   margin-top: 4px;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }
  
  #hangman{
    position: absolute;
    top: 150px;
    left: 900px;
  }

  #wordArea{
    position: absolute;
    top: 40%;
    left: 40%;
    height: 100px;
    width: 600px;

  }
#logout{
  position: absolute;
  top: 40px;
  left: 1500px;
}
  
  #buttonArea{
    background-color: grey;
    position: relative;
    height: 110px;
    width: 980px;
    text-align: center;
    align-items: center;
    top: 500px;
    left: 500px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 17px 10px #555;
    border-radius: 1%;
  }

  #imgBoxContainer{
    height: 500px;
    width: 500px;
  }
  #imgBox{
    max-width: 100%; height: auto; 
    border-radius: 30%;
  }

  #points{
   position: absolute;
   top: 5%;
   left: 42%;
  }
  #hint{
    position: absolute;
    top: 10%;
    left: 42%;

  }

  #loseMessageBox{
    position: absolute;
    top: 10%;
    left: 35%;
    z-index: 2;
    align-items: center;
    text-align: center;
  }
